
<div class="container">
	<div class="row">

	<div class="col-sm-8 col-sm-offset-2">
		<div class="page-header">
				<h1>Search in directory</h1>
			</div>	

		<p>Find competencies in the directory</p>
		<form ng-submit="search()" role="form" name="searchForm">
    		<div class="input-group input-group-lg"> 
    			<input  class="form-control" type="text" placeholder="Search..." ng-model="query" name="searchField">
    			
    			<span class="input-group-btn">
    				<button type="submit" class="btn btn-success">Search</button>
    			</span>	    			
    		</div>
    	</form>


    	<!-- show error messages -->
		<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		   {{error}}
		</div>
	
    </div>

    <br><br>
	<!--Show Results-->
    <div class="col-sm-8 col-sm-offset-2">
    	<div ng-show="results">


			<div ng-repeat="result in results" ng-click="showModal(result.id)"  class="well resultWell">
				<div class="title">{{$index+1 + ". " + result.title.en}}</div>	
				<div class="description">{{result.description.en}}</div>
			</div>
		</div>
	</div>

	</div><!--END Row-->

</div><!--END Container-->