<div class="container">


	<div class="col-md-8 col-md-offset-2">
		<div class="page-header">
			<h1>Search Repository</h1>
		</div>	
		

    	<form ng-submit="search()" role="form" name="searchForm">
    		<div class="input-group  input-group-lg"> 
    			<input  class="form-control" type="text" placeholder="Search..." ng-model="query" name="searchField">
    			
    			<span class="input-group-btn">
    				<button type="submit" class="btn btn-success">Submit</button>
    			</span>	    			
    		</div>
    	</form>

    	<br><br>
		<button ng-click="getAllCompetences()"  class="btn btn-default btn-lg btn-block">Get All Competences</button>

		<!-- Suggestion Search 
    	<form ng-submit="search()" role="form">
    		<div id="url-group" class="form-group" ng-class="{ 'has-error' : errorName }">
	    		<div class="input-group input-group-lg">   
	    		    <input uib-typeahead="title for title in titles | filter:$viewValue | limitTo:8" class="form-control" type="text" placeholder="Search" ng-model="query">
	    		</div>
    		</div>

    			<button type="submit" class="btn btn-success btn-lg btn-block">Submit!</button>
    	</form>
    	-->
    </div>



    <div class="col-md-8 col-md-offset-2">
    <div ng-show="results">

    	<h3>Results</h3>

			<div ng-repeat="result in results" class="well" ng-include="'field_renderer.html'">				

			</div>				
			<br><br>	
						
		</div>
	</div>



	<!--
    <div class="col-md-6 col-md-offset-3" ng-show="formData">

    	<div class="list-group" >

    	<a href="#" class="list-group-item" ng-repeat="field in formData">
		    <h4 class="list-group-item-heading">{{field.name}}
		    	<small>{{field._id}}</small>
		    </h4>


		    		<div class="container">
		  <h2>Simple Collapsible</h2>
		  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
		  <div id="demo" class="collapse">
		      <p class="list-group-item-text">
		    	<b>Description:</b><br>
		    	{{field.description}}
		    </p>

		    <p class="list-group-item-text">
		    	<b>Language: </b>
		    	{{field.language}}
		    </p>	
		  </div>
		</div>


		  	    
		  </a>

		</div>
	</div>

    <br><br>
	</div>
	-->



<script type="text/ng-template" id="field_renderer.html">

  	<div class="date"> {{result.issued | date}} </div>
	<div class="title">{{$index+1 + ". " + result.title}}</div>	
	<span class="badge locStructure" ng-if="result.locType === 'locstructure'">LOC Structure</span>
	<span class="badge locDefinition" ng-if="result.locType === 'locdefinition'">LOC Definition</span>
				
	<a class="id" href="{{'http://' + result.id}}">{{result.id}}</a>
	<div class="description">{{result.description}}</div>

	<label ng-show="result.primaryStructure">Primary Structure</label>
	<p>{{result.primaryStructure}}</p>


	<div>{{result.language}}</div>
	<div>{{result.abbr}}</div>
	<div>{{result.version}}</div>
	<div>{{result.issued}}</div>
	
	<!--
	<div class="detail-container" ng-hide="result.length === 0">
	  <button type="button" class="detail" data-toggle="collapse" data-target={{"#item"+$index}}>Children:</button>


	  	<div id={{"item"+$index}} class="collapse">
	    	<div class="child" ng-repeat="result in results" ng-include="'field_renderer.html'">
		    </div>
		</div>

	</div>
	-->


	

	<!--
	<button class="btn btn-danger" ng-click="deleteCompetence($index)"> Delete Competence </button> 
	-->
	 


</script>





<!-- For suggestion search
<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <p class="message">select location from drop down.</p>

    <ul class="dropdown-menu" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
        ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
-->