<div class="container">

	<div class="col-md-8 col-md-offset-2">

		<div class="page-header">
			<h1>Kompetenz-Rahmenwerk importieren</h1>
		</div>	
		<p>Geben Sie die Webadresse eines Kompetenz-Rahmenwerkes an, um es dem Verzeichnis hinzuzufügen.</p>	
		

		<!-- Form -->
    	<form ng-submit="submitURL()" role="form">    			
    		<div class="input-group  input-group-lg">  		    		    
    			<input  class="form-control" type="url" id="url" name="url" placeholder="http://www.competence.com" ng-model="url">
    			<span class="input-group-btn">
    				<button type="submit" class="btn btn-success">Submit</button>
    			</span>	    			
    		</div>
    	</form><br><br>

    	<!-- show error/success messages -->
		<div class="alert alert-success alert-dismissible" role="alert" ng-show="message">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		   {{message}}
		</div>

		<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		   {{error}}
		</div>


    </div>
</div>